.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-content: start;
  overflow-y: auto;
  flex: 1;
  padding: 5px;
}

.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  min-height: 380px;
  background-color: #f8f9fa;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  background-color: #addbf3e4;
}

.product-card:active {
  transform: scale(0.98);
  background-color: #addbf3e4;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-image-container {
  position: relative;
  width: 100%;
 
}

.product-card img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 0;  /* Changed from 0.5rem since we now have the ID below */
}

.product-id {
  color: #666;
  font-size: 0.85rem;
  padding: 2px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 0;
  border-top: none;
 
}

.product-info {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-info h3 {
  color: #2c3e50;
  margin-top: 5px; 
  margin-bottom: 10px;
  font-size: 1.2rem;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-description {
  color: #777;
  font-size: 0.9rem;
  margin: 5px 0;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  height: 3em;
  flex-grow: 0;
}

.product-info .price {
  color: #1C76BC;  /* Gardeco-logotypens blå */
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
  background-color: rgba(28, 118, 188, 0.05);  /* Subtil bakgrund */
  padding: 5px 10px;
  border-radius: 6px;
  display: inline-block;
}

.product-card:hover .product-info .price {
  background-color: rgba(28, 118, 188, 0.1);  /* Lätt färgändring vid hover */
}
/* Media Queries */
@media (max-width: 1024px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .product-card {
    min-height: 350px;
  }
}